
html, body {
    color: #36434a;
    background: #f5f8fd;
}

#vrch {
    /* color: white; */
    color: #36434a;
    /* background: #1a1a1a; */
    background: linear-gradient(to bottom,#f9f9f9,#fff);
}

#vrch_riadok1 ul li+li, #vrch_riadok1_vpravo ul li {
    border-left-color: #999;
}

#vrch_riadok1 a {
    /* color: white; */
    color: #36434a;
}

#vrch_riadok1 .username {
    color: #999;
}

#vrch_riadok2 a {
    /* color: white; */
    color: #36434a;
}

#rozvrh_taby a.selected, #rozvrh_taby a:hover {
    /*     background: #343846; */
}

#rozvrh_akcie {
    /*     background: #343846; */
    background: #fff;
}



#vrch_logo {
    color: #fff;
}

#logo a {
    background: transparent url("../images/new/logo.svg") top left no-repeat;
    background-size: 70px;
    color: #fff;
}

.rozvrh_stav {
    color: yellow;
}

#panel {
    color: white;
    /*     background: #808080; */
    background: #353d64;
}

#panel .other_links a {
    color: white;
}

.panel_cast h2, .panel_cast_no_collapse h2 {
    /*     background-color: #333; */
    color: white;
}

.jsactive .panel_cast h2 {
    background-image: url("../images/bg-collapse-group-n.png");
}

.panel_cast.collapsed h2 {
    background-image: url("../images/bg-expand-group-n.png");
}

.panel_cast h2 a, .panel_cast_no_collapse h2 {
    color: white;
}

.panel_search button {
    background: #f9f9f9;
    color: #555f61;
    transition: all ease-in-out .2s;
    border: none;
    margin-top: 2px;
    margin-bottom: 2px;
}

#panel_schovat {
    /*     background: #353d64 url("../images/bg-schovavac-panelu.png") top left no-repeat; */

    color: #fff;

    background: #353d64;
}



#panel_schovat #panel_toggle::before {
    color: #fff;

}

.panel_hidden #panel_schovat #panel_toggle::before {
    color: #fff;
}


.panel_hidden #panel_schovat {
    /*background-image: url("../images/bg-zobrazovac-panelu.png");*/
}

#panel_cast_nastroje a {
    color: white;
}

ul.vysledky_hladania li {
    color: black;
    background: white;
}

.predmet_header {
    background: #333;
    color: white;
}

.predmet_info table td.odkazy a {
    color: white;
}

.predmet_info table td.odkazy a:visited {
    color: #bbb;
}

.predmet table.vysledky {
    background: white;
    color: black;
}

.predmet table.vysledky tr+tr {
    border-top-color: #999;
}

#obsah_vrch {
    /*background: transparent url("../images/bg-obsah-top.png") top repeat-x;*/
    /*background-image: linear-gradient(bottom, #FFFFFF 50%, #FAC815 50%);*/
    background-image: linear-gradient(#FFFFFF, #f5f8fd);
}

#obsah_vrch_lavy {
    /*background: transparent url("../images/bg-obsah-top-left.png") top left no-repeat;*/
    /*background: #f5f8fd;*/
}

#obsah_in {
    /*background: #fff;*/
}

#obsah_in a {
    color: #0d4177;
}


#rozvrh {
    background: #f5f8fd;
}

#rozvrh tr.startTimeHeader {
    border-top-color: #4E546A;
}

#rozvrh th {
    background: #fff;
    color: #555f61;
    font-size: 1.5em;
    border:none;
}
/*     border-color: #4E546A; */

#rozvrh td {
    background-color: #f5f8fd;

    /*     color: white; */
}

#rozvrh td.startOfDayColumn {
    border-left-color: #4E546A;
    border: none;
    /*     border-left: none; */
}

#rozvrh td.endOfDayColumn {
    border-right-color: #4E546A;
    border: none;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    position: relative;
    font-size: 14px;
    padding: 5px 20px 5px 10px;
    border-radius: 2px;
    transition: all ease-in-out .25s;
    /*     border-right: none; */
}

#rozvrh td.emptyCell {
    box-shadow: 0 1px 3px  -10 rgba(0,0,0,.14);
}

.cas {
    font-weight: 700;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    color: #555f61;
}

#rozvrh td.hodina {
    background: #fcfcfc;
    color: black;
    border-color: #A2A2A4;
    border-top: none;
    border-bottom: none;
}

#rozvrh td.hodina.highlighted {
    background: #f0ec96;
}

#rozvrh td.hodina.selected {
    background: #f5f7ff;
}

#rozvrh td.hodina.highlighted.selected {
    background: #fff9c2;
}

#rozvrh th.zaciatok {
    background: #fff;
}

#rozvrh td.hodina .miestnost a {
    color: #555f61;

}

#rozvrh td.hodina a.subjectName {
    color: black;
    text-decoration: none;
}

.lesson-type-C .lesson-type-image {
    background: transparent url("../images/ikona-typ-c.png") center center no-repeat;
}

#rozvrh td.hodina.lesson-type-C .typ {
    background-color: #f8264f;
    color: white;
}

.lesson-type-K .lesson-type-image {
    background: transparent url("../images/ikona-typ-k.png") center center no-repeat;
}

#rozvrh td.hodina.lesson-type-K .typ  {
    background-color: #fbb841;
    color: white;
}

.lesson-type-L .lesson-type-image {
    background: transparent url("../images/ikona-typ-l.png") center center no-repeat;
}

#rozvrh td.hodina.lesson-type-L .typ  {
    background-color: #338000;
    color: white;
}

.lesson-type-N .lesson-type-image {
    background: transparent url("../images/ikona-typ-n.png") center center no-repeat;
}

#rozvrh td.hodina.lesson-type-N .typ  {
    background-color: #666666;
    color: white;
}

.lesson-type-P .lesson-type-image {
    background: transparent url("../images/ikona-typ-p.png") center center no-repeat;
}

#rozvrh td.hodina.lesson-type-P .typ  {
    background-color: #34c3f9;;
    color: white;
}

.lesson-type-S .lesson-type-image {
    background: transparent url("../images/ikona-typ-s.png") center center no-repeat;
}

#rozvrh td.hodina.lesson-type-S .typ  {
    background-color: #800066;
    color: white;
}

.lesson-type-V .lesson-type-image {
    background: transparent url("../images/ikona-typ-v.png") center center no-repeat;
}

#rozvrh td.hodina.lesson-type-V .typ  {
    background-color: #008066;
    color: white;
}

.flash_notice {
    background: #7f7;
    color: black;
}

.flash_error {
    background: #d55;
    color: white;
}

#obsah_in span.example {
    border-color: white;
}

#obsah_in table.vysledky_podrobneho_hladania th,
#obsah_in table.aktualne th {
    background: #D3D5DD;
    color: black;
}

#obsah_in table.vysledky_podrobneho_hladania td,
#obsah_in table.aktualne td {
    color: #36434a;
    background: #f5f8fd;
}

#obsah_in table.vysledky_podrobneho_hladania tbody tr:hover td,
#obsah_in table.aktualne tbody tr:hover td {
    background: #D3D5DD;
    color: black;
}

#obsah_in table.vysledky_podrobneho_hladania tbody tr:hover td a,
#obsah_in table.aktualne tbody tr:hover td a {
    color: blue;
}

#obsah_in div.footer {
    color: #565759;
}

#obsah_in div.footer a {
    color: black;
}

#obsah_in div.footer .last_update {
    /*color: white;*/

}

#panel_throbber {
    background: transparent url("../images/loading-gray.gif") left center no-repeat;
}

/* Kiosk */
#vrch_logo a {
    color: #fff;
}

#sidebar .button a {
    color: white;
    /*     background: white; */
}

html.kiosk, body.kiosk {
    background-image: url("../images/bg-body-kiosk.png");
}

ul.quickswitch li a {
    background-color: #343846;
    color: white;
}

ul.quickswitch li.active a {
    color: black;
    background-color: white;
}

#web_header ul.quickswitch li.active a {
    color: black;
}
